body {
  background: #1f2120;
  color: whitesmoke;
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  max-width: 500px;
  margin: 50px auto;
}

h1::after {
  content: '|';
  margin-left: 5px;
  opacity: 1;
  animation: blink 1s infinite;
}

.social-icons {
  max-width: 200px;
  font-size: 20px;
  margin: 30px auto;
  display: flex;
  justify-content: space-between;
}
.social-icons h2 a {
  color: whitesmoke;
  transition: color .2s;
}
.social-icons h2 a:hover {
  color: rgb(161, 161, 161);
}

@keyframes blink {
  0%, 
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0
  }
}